.home{
    padding: 5px;
    background-color: rgb(143, 185, 185);
}

.home img{
    filter: blur(2px);
    position: relative;
    /* width: 99.4vw; */
    height: 98.12vh;
    opacity: 0.9;
    overflow:hidden;
}
.data{
    
    width: 55vw;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    /* filter: opacity(1px); */
    transform: translate(-50%, -50%);
    /* color: white; */
    text-align: center;
    background-color: rgb(143, 185, 185);
    padding: 10px;
    /* opacity: 0.5; */
    /* background: transparent; */
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
}
.data span{
    font-size: 50px;
    font-weight: bold;
    color: black;
    /* background: transparent; */
    /* background-color: rgb(119, 119, 209); */
}
.data p{
    width: 50vw;
    margin: auto;
    text-align: center;
    font-size: 20px;
    /* background: transparent; */
}
.data {
   
  }